<div class="container">

  <table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">Atributo</th>
        <th scope="col">Média do valor da compra</th>
        <th scope="col">Média do valor da venda</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let flag of flags">
        <td>{{flag.atributo}}</td>
        <td>{{flag.mediaValorCompra | currency:'BRL'}}</td>
        <td>{{flag.mediaValorVenda| currency:'BRL'}}</td>
      </tr>
    </tbody>
  </table>

</div>
