<div class="container">

  <table class="table table-success table-striped">
    <thead>
          <tr>
            <th scope="col">Atributo</th>
            <th scope="col">Média do valor da compra</th>
            <th scope="col">Média do valor da venda</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let city of cities">
            <td>{{city.atributo}}</td>
            <td>{{city.mediaValorCompra | currency:'BRL'}}</td>
            <td>{{city.mediaValorVenda | currency:'BRL'}}</td>
          </tr>
        </tbody>
      </table>

    </div>
